header {
  background-color: #D6E0F0;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
header .pagename h1 {
  font-size: 5.625rem;
  font-weight: 800;
  letter-spacing: -0.04em;
  color: #304A67;
  line-height: 1.6;
  padding-bottom: 20px;
  display: none;
}
header .pagename h1:first-child {
  display: flex;
}
header nav {
  width: 100%;
}
header nav ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80vh;
}
header nav ul li {
  width: 120px;
  height: 120px;
  text-align: center;
  padding: 10px;
  border: 11px solid #607C9A;
}
header nav ul li img {
  width: auto;
  height: 100%;
}
header nav ul .nav_active {
  width: 150px;
  height: 150px;
}

main {
  background-color: #D6E0F0;
}
main > * {
  width: calc(100% - 300px);
  margin-left: 300px;
  padding: 60px;
}
main .text_wrap h1 {
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 2;
}
main .text_wrap p {
  font-size: 1.25rem;
}
main .img_wrap {
  background-color: khaki;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 20px;
  border: 7px solid #607C9A;
}
main .img_wrap img {
  width: 100%;
}
main .intro {
  background-color: #D6E0F0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
main .intro .name {
  width: 100%;
  height: 100px;
  text-align: right;
  background-image: url(../images/wave.png);
  background-repeat: repeat-x;
}
main .intro .name span {
  background-color: #D6E0F0;
  font-size: 5.625rem;
  font-weight: 800;
  color: #304A67;
  letter-spacing: -0.02em;
}
main .intro .intro_contents {
  display: flex;
  width: 100%;
  height: calc(100% - 200px);
}
main .intro .intro_contents .start {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  border: 10px solid #304A67;
}
main .intro .intro_contents .start .move {
  display: flex;
}
main .intro .intro_contents .start .move span {
  background-color: #304A67;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 2.5rem;
}
main .intro .intro_contents .start .move span:nth-child(odd) {
  margin-top: 50px;
}
main .intro .intro_contents .start p:nth-child(2) {
  margin: 50px 0;
}
main .intro .intro_contents .start p:last-child {
  font-size: 2.5rem;
  color: #304A67;
  font-weight: 800;
  letter-spacing: 0.5em;
}
main .intro .intro_contents .main_nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: auto;
}
main .intro .intro_contents .main_nav li {
  width: 20%;
}
main .intro .intro_contents .main_nav li p {
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #304A67;
  border-left: none;
}
main .intro .intro_contents .main_nav li p span {
  font-size: 2.5rem;
  color: #304A67;
  font-weight: 800;
  display: none;
}
main .intro .intro_contents .main_nav li .icon {
  opacity: 1;
}
main .intro .intro_contents .main_nav li .icon img {
  width: 100px;
}
main .intro .intro_contents .main_nav li p:first-child {
  border-bottom: none;
}
main .intro h1 {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100px;
  font-size: 7.5rem;
  font-weight: 800;
  color: #607C9A;
  letter-spacing: -0.02em;
}
main .intro h1 span {
  height: 90px;
  padding: 0 20px;
}
main .intro h1 span img {
  height: 100%;
}
main .profile {
  background-color: beige;
  height: 100vh;
  padding: 100px;
}
main .profile > ul {
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
  height: 100%;
}
main .profile > ul > li {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #607C9A;
  text-align: center;
}
main .profile > ul > li > h1 {
  background-color: #607C9A;
  color: #fff;
  width: 100%;
  font-size: 1.875rem;
  line-height: 2;
  font-weight: 700;
}
main .profile > ul > li dl {
  background-color: salmon;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: left;
}
main .profile > ul > li dl dt {
  font-size: 1.563rem;
  font-weight: 800;
  line-height: 1.5;
  color: #304A67;
}
main .profile > ul > li dl dd {
  font-size: 1.25rem;
}
main .profile > ul .me {
  justify-content: center;
}
main .profile > ul .me .profile_img_wrap {
  background-color: purple;
  width: 50%;
  height: 200px;
}
main .profile > ul .me .me_contents {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
main .profile > ul .me .me_contents h1 {
  font-size: 1.875rem;
  font-weight: 600;
  color: #607C9A;
  line-height: 1.5;
}
main .profile > ul .me .me_contents p {
  font-weight: 700;
  color: #607C9A;
  line-height: 1.2;
}
main .profile > ul .fighting {
  justify-content: center;
}
main .profile > ul .fighting p:first-child {
  font-size: 2.5rem;
  color: #304A67;
  font-weight: 800;
  line-height: 2;
}
main .profile > ul .fighting p:last-child {
  font-size: 1.563rem;
  font-weight: 600;
  color: #607C9A;
  line-height: 1.5;
}
main .profile > ul .about {
  background-color: bisque;
}
main .profile > ul .tool ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
main .profile > ul .tool ul li {
  background-color: aqua;
}
main .web {
  background-color: #fff;
  width: 100%;
}
main .web .web_project {
  width: 100%;
}
main .web .web_project .web_project_contents {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  width: 100%;
}
main .web .web_project .web_project_contents .web_img_wrap {
  width: 30%;
  position: relative;
}
main .web .web_project .web_project_contents .web_img_wrap img {
  width: 100%;
  height: auto;
}
main .web .web_project .web_project_contents .web_img_wrap p {
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 90px;
  left: 50%;
  font-size: 1.563rem;
  font-weight: 700;
  color: #fff;
  background-color: #607C9A;
  border-radius: 100%;
  padding: 10px 15px;
}
main .web .web_project .web_project_contents .web_text {
  width: calc(70% - 100px);
}
main .web .web_project .web_project_contents .web_text h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 2;
}
main .web .web_project .web_project_contents .web_text p {
  font-size: 1.25rem;
  line-height: 1.5;
}
main .web .web_project .web_project_contents .web_text a {
  display: inline-block;
  background-color: #304A67;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 20px;
}
main .detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
main .detail .detail_page .detail_img_wrap {
  padding-top: 150%;
}
main .sns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
main .etc .logo h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 2;
}
main .etc .logo .logo_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
main .etc .poster h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 2;
}
main .etc .poster .poster_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
main .etc .poster .poster_wrap .poster_img {
  padding-top: 125%;
}/*# sourceMappingURL=main.css.map */